/* Component 75 */

position: absolute;
width: 1275px;
height: 702px;
left: 87px;
top: 3017px;



/* student-online-cute-girl-glasses-sweater-studying-computer-writing-notes 1 */

position: absolute;
left: 26.82%;
right: 32.08%;
top: 0%;
bottom: 0%;

background: url(student-online-cute-girl-glasses-sweater-studying-computer-writing-notes.jpg);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;


/* Rectangle 1575 */

position: absolute;
left: 71.06%;
right: 16.08%;
top: 0%;
bottom: 0%;

background: #C55A11;
border-radius: 10px;


/* student-online-cute-girl-glasses-sweater-studying-computer-writing-notes 2 */

position: absolute;
left: 71.06%;
right: 16.08%;
top: 0%;
bottom: 0%;

background: url(student-online-cute-girl-glasses-sweater-studying-computer-writing-notes.jpg);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;


/* Rectangle 1576 */

position: absolute;
left: 87.06%;
right: 0.08%;
top: 0%;
bottom: 0%;

background: #C55A11;
border-radius: 10px;


/* student-online-cute-girl-glasses-sweater-studying-computer-writing-notes 3 */

position: absolute;
left: 87.06%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(student-online-cute-girl-glasses-sweater-studying-computer-writing-notes.jpg);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;


/* your team & improve efficiency */

position: absolute;
left: 30.35%;
right: 51.76%;
top: 9.4%;
bottom: 86.89%;

/* Heading/5 */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;

/* Primary/Black */
color: #242A34;

backdrop-filter: blur(14.95px);
/* Note: backdrop-filter has minimal browser support */


/* It’s a Win. Win. Win.  Know More */

position: absolute;
left: 0%;
right: 81.57%;
top: 10.11%;
bottom: 31.62%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */
text-align: center;

color: #000000;



/* Arrow 10 */

box-sizing: border-box;

position: absolute;
left: 15.84%;
right: 80.71%;
top: 66.52%;
bottom: 33.48%;

border: 8px solid #C55A11;


/* Understand */

position: absolute;
left: 79.61%;
right: 4.87%;
top: 98.41%;
bottom: -5.89%;

/* Heading/2 */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */
text-align: center;

/* Primary/White */
color: #FFFFFF;

backdrop-filter: blur(17.5px);
/* Note: backdrop-filter has minimal browser support */
transform: rotate(-89.97deg);


/* Build */

position: absolute;
left: 95.45%;
right: -2.16%;
top: 96.52%;
bottom: -3.99%;

/* Heading/2 */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* or 128% */
text-align: center;

/* Primary/White */
color: #FFFFFF;

backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */
transform: rotate(-89.97deg);


/* Empower */

position: absolute;
left: 30.27%;
right: 57.24%;
top: 2.9%;
bottom: 90.55%;

/* Heading/2 */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
/* identical to box height, or 128% */
text-align: center;

/* Primary/Black */
color: #242A34;

backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
transform: rotate(-0.12deg);
